<p-dialog 
  header={{title}}
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '65vw'}" 
  focusOnShow='false' >
    <form [formGroup]="form">
        <div class="row">        
          <div [ngClass]="field.classList ? field.classList : 'col-12 col-md-6 gap-1 mb-5'" *ngFor="let field of fields">
            <p-floatLabel>
                <input *ngIf="isText(field.type)"
                    pInputText
                    [id]="field.controlName"
                    [formControlName]="field.controlName"
                    [type]="field.type"
                    [placeholder]="field.placeholder"
                    [style]="{ width: '100%'}"/>
                <p-inputNumber *ngIf="isNumber(field.type) && field.isCurrency"
                    [id]="field.controlName"
                    [formControlName]="field.controlName"
                    [useGrouping]="true"
                    [style]="{ width: '100%'}"
                    [placeholder]="field.placeholder"
                    mode="currency" 
                    currency="ARS" 
                    locale="es-AR"
                />
                <p-inputNumber *ngIf="isNumber(field.type) && !field.isCurrency"
                    [id]="field.controlName"
                    [formControlName]="field.controlName"
                    [useGrouping]="false"
                    [style]="{ width: '100%'}"
                    [placeholder]="field.placeholder"
                    mode="decimal"
                    [min]="0"
                />
                <p-dropdown *ngIf="isSelect(field.type)"
                    [options]="field.selectList"
                    [showClear]="true" 
                    [formControlName]="field.controlName"
                    [style]="{ width: '100%'}"
                    scrollHeight="130px"
                    [filter]="true"
                    >
                </p-dropdown>
                <p-multiSelect *ngIf="isMultiSelect(field.type)"
                    [options]="field.selectList"
                    [formControlName]="field.controlName"
                    [style]="{ width: '100%'}"
                    scrollHeight="130px"
                    [selectedItemsLabel]="'{0} ítems seleccionados'">
                </p-multiSelect>
                <p-calendar *ngIf="isCalendar(field.type)"
                    [id]="field.controlName"
                    [formControlName]="field.controlName"
                    [style]="{ width: '100%' }"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [touchUI]="true"
                    [placeholder]="field.placeholder || 'Seleccionar fecha'">
                </p-calendar>
                <label [for]="field.controlName"> {{ field.label }} </label>
            </p-floatLabel>
            <small *ngIf="hasError(field.controlName)" class="input-invalid"> {{ field.errorMessage }} </small>
          </div>
        </div>
        <div class="text-end mt-0 pt-0">
            <p-button class="me-3" label="Cancelar" severity="secondary" (onClick)="visible = false" />
            <p-button type="submit" label="Guardar" (onClick)="sendData()"/>
        </div>
    </form>
</p-dialog>
