<div class="text-center mb-3">
    <h1 class="welcome">{{ welcome }}, bienvenido a Transporte el Indio!</h1>
    <img src="../../../assets/Logo.png" class="image" alt="La Azul y Oro">
</div>

<p-card class="mb-2">
    <div class="text-center">
        <h1 class="title">Viajes</h1>
        <p-carousel 
            [value]="viajeList"
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="true" 
            autoplayInterval="5000">
            <ng-template let-viaje pTemplate="item">
                <div class="border-1 surface-border border-round p-3">
                    <h5 class="mb-2">Viaje N° {{ viaje.numOrden }}</h5>
                    <p><strong>Origen:</strong> {{ viaje.origenNombre }}</p>
                    <p><strong>Destino:</strong> {{ viaje.destinoNombre }}</p>
                    <p><strong>Estado:</strong> {{ viaje.showedEstado }}</p>
                    <p><strong>Camión:</strong> {{ viaje.camionCompound }}</p>
                </div>
            </ng-template>
        </p-carousel>
        <p-button label="Ver todos los viajes" (click)="goToViajes()" />
    </div>
</p-card>

